name: Run Bash Script

permissions:
  contents: write

on:
  push:

jobs:
  build-and-run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: true

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Run maintenance script
        run: bash ./scripts/bashscript.sh
